html {
    scroll-behavior: smooth;
}

body {
    background: #FFFFFF;
}


/* === header === */

.header-pets {
    position: sticky;
    top: 0;
    width: 1280px;
    height: 120px;
    background: #FFFFFF;
    margin: 0 auto;
    z-index: 999;
}

.header-container {
    position: absolute;
    width: 1200px;
    height: 60px;
    left: calc(50% - 1200px/2);
    top: calc(50% - 60px/2);
}

.pets-logo {
    width: 186px;
    height: 60px;
}

.pets-logo-title {
    /* logo_title */
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 110%;
    /* color-dark-l */
    color: #545454;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0px;
}

.pets-logo-subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.1em;
    color: #292929;
}

.pets-nav {
    width: 443px;
    height: 27px;
}

.list {
    display: flex;
    justify-content: space-between;
    margin: 0px;
}

.nav-text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    /* identical to box height, or 24px */
    /* color-dark-s */
    color: #545454;
    text-decoration: none;
    margin-bottom: 5px;
}

.li-hover:hover {
    border-bottom: 3px solid #F1CDB3;
}

.text-decoration {
    border-bottom: 3px solid #F1CDB3;
}

p,
li {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    margin: 0;
}

li {
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}


/* === sticky header ===*/


/* === main ===*/

.main-pets {
    position: relative;
    width: 1280px;
    height: 1342px;
    margin: 0px;
    background: #F6F6F6;
    margin: 0 auto;
}

.main-container {
    position: absolute;
    width: 1200px;
    height: 1162px;
    left: calc(50% - 1200px/2);
    top: 80px;
}

.pets-main-heading {
    width: 400px;
    height: 90px;
    left: calc(50% - 400px/2);
    top: 0px;
}

.main-heading-title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 130%;
    /* or 45px */
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    /* color-dark-l */
    color: #545454;
    margin: 0px;
}

.pets-cards-container {
    width: 1200px;
    height: 930px;
}

.pet-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 272px;
    height: 437px;
    background: #FAFAFA;
    border-radius: 9px;
    box-sizing: border-box;
}

.pet-content:hover {
    background: #f3aa76;
    cursor: pointer;
    border: 1px solid #f3aa76;
}

.pet-img {
    background-repeat: no-repeat;
    width: 269px;
    height: 270px;
}

.pet-name {
    font-family: 'Georgia';
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #545454;
}

.pet-info {
    width: 207px;
    height: 52px;
    margin-bottom: 30px;
}

.katrine {
    background-image: url(./assets_pets/pets-katrine.png);
}

.jennifer {
    background-image: url(./assets_pets/pets-jennifer.png);
}

.woody {
    background-image: url(./assets_pets/pets-woody.png);
}

.sophia {
    background-image: url(./assets_pets/pets-sophia.png);
}

.timmy {
    background-image: url(./assets_pets/pets-timmy.png);
}

.charly {
    background-image: url(./assets_pets/pets-charly.png);
}

.scarlett {
    background-image: url(./assets_pets/pets-scarlet.png);
}

.freddie {
    background-image: url(./assets_pets/pets-freddie.png);
}

.pets-card-navigation {
    width: 340px;
    height: 52px;
    margin: 0 auto;
}

.button-paginator {
    width: 52px;
    height: 52px;
}

.btn-slide-hover:hover {
    border: 1px solid #f8964f;
    border-radius: 100px;
    cursor: pointer;
}

.left-left {
    background-image: url(./assets_pets/button_paginator_inactive_left_left.png);
}

.left {
    background-image: url(./assets_pets/button_paginator_inactive_left.png);
}

.middle {
    background-image: url(./assets_pets/button_paginator_activemiddle.png);
}

.right {
    background-image: url(./assets_pets/button_paginator_right.png);
}

.right-right {
    background-image: url(./assets_pets/button_paginator_right_right.png);
}


/* === footer ===*/

.footer-wrapper {
    position: relative;
    width: 1280px;
    height: 350px;
    margin: 0 auto;
    background-image: url(../main/assets_main/img/footer-background.png);
}

.footer-content {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 310px;
    left: 40px;
    top: 40px;
}

.footer-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 278px;
    height: 234px;
}

.footer-title {
    width: 278px;
    height: 90px;
    left: calc(50% - 278px/2 - 0px);
    top: 0px;
}

.footer-txt {
    font-size: 34px;
    color: #FFFFFF;
    text-align: start;
}

.footer-location {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 302px;
    height: 234px;
}

.location {
    width: 302px;
    height: 46px;
}

.footer-icon-location {
    background-image: url(../main/assets_main/img/icon-marker.svg);
    width: 22px;
    height: 32px;
}

.boston {
    width: 260px;
    height: 46px;
}

.london {
    width: 260px;
    height: 23px;
}

.footer-mail {
    width: 251px;
    height: 32px;
    color: #F1CDB3;
}

.footer-icon-email {
    background-image: url(../main/assets_main/img/icon-email.svg);
    width: 40px;
    height: 32px;
}

.footer-phone {
    width: 239px;
    height: 32px;
}

.footer-icon-phone {
    background-image: url(../main/assets_main/img/icon-phone.svg);
    width: 40px;
    height: 32px;
}

.footer-puppy {
    width: 300px;
    height: 310px;
    left: calc(50% - 300px/2 + 450px);
    top: 0px;
    background-image: url(../main/assets_main/img/footer-puppy.png);
}

.footer-text-color {
    color: #F1CDB3;
    text-decoration: none;
}

.footer-text-color:hover {
    border-bottom: 1px solid #F1CDB3;
}

.heading-text {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-align: center;
    margin: 0px;
}

.h4-card-num {
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
    margin: 0px;
}


/* === flex items for styles ===*/

.flex-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.flex-item-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


/* === buttons styles ===*/

.button {
    font-family: 'Georgia';
    font-size: 17px;
    line-height: 300%;
    letter-spacing: 0.06em;
    color: #2c2518;
    text-decoration: none;
    background: #F1CDB3;
    border-radius: 100px;
    width: 207px;
    height: 52px;
    text-align: center;
    display: inline-block;
}

.btn-start:hover {
    background: #f3aa76;
    text-decoration: underline;
}

.btn-start:active {
    background: #f1d8c6;
}

.pet-btn {
    background-color: #fff;
    border: 1px solid #F1CDB3;
}

.pet-btn:hover {
    background: #f1e2d7;
    border: 1px solid #f0a672;
    text-decoration: underline;
}

.pet-btn:active {
    background: #f1d8c6;
}

.btn-pets-block {
    width: 261px;
    height: 52px;
}

.btn-pets-block:hover {
    background: #f3aa76;
    text-decoration: underline;
}

.btn-pets-block:active {
    background: #f1d8c6;
}

.hamburger {
    display: none;
}


/* === media queries 768px === */

@media (max-width: 768px) {
    .header-pets {
        width: 768px;
        height: 120px;
        margin: 0 auto;
        position: sticky;
    }
    .header-container {
        width: 708px;
        height: 60px;
        position: absolute;
        left: 3.91%;
        right: 3.91%;
        top: 25%;
        bottom: 25%;
    }
    .main-pets {
        width: 768px;
        height: 1733px;
    }
    .main-container {
        position: absolute;
        width: 708px;
        height: 1603px;
        left: calc(50% - 708px/2);
        top: 60px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .scarlett-none {
        display: none;
    }
    .freddie-none {
        display: none;
    }
    .pets-cards-container {
        width: 580px;
        height: 1365px;
    }
    .footer-wrapper {
        width: 768px;
        height: 639px;
        background-image: url(../main/assets_main/img/768footer-gradient-background.jpg), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
        background-size: cover;
    }
    .footer-content {
        position: absolute;
        width: 708px;
        height: 609px;
        left: 30px;
        top: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        flex-wrap: wrap;
        gap: 0 60px;
    }
    .footer-location {
        width: 278px;
        height: 234px;
    }
    .footer-puppy {
        margin-bottom: 0px;
    }
}


/* === media queries 320px === */

@media (max-width: 320px) {
    .header-pets {
        width: 320px;
        height: 120px;
    }
    .header-container {
        position: absolute;
        Width: 260px;
        Height: 60px;
        Top: 30px;
        Left: 10px;
        left: 3.12%;
        right: 15.62%;
        top: 25%;
        bottom: 25%;
    }
    /*.pets-nav {
        display: none;
    }*/
    .main-pets {
        width: 320px;
        height: 1649px;
        left: 0%;
        right: 0%;
    }
    .sophia-320 {
        display: none;
    }
    .timmy-320 {
        display: none;
    }
    .charly-320 {
        display: none;
    }
    .main-container {
        position: absolute;
        width: 300px;
        height: 1565px;
        left: calc(50% - 300px/2);
        top: 42px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        flex-wrap: wrap;
    }
    .pets-main-heading {
        width: 300px;
        height: 64px;
    }
    .main-heading-title {
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 130%;
        /* or 32px */
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
        /* color-dark-l */
        color: #545454;
    }
    .pets-cards-container {
        width: 270px;
        height: 1365px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space-between;
        flex-wrap: wrap;
    }
    .pets-card-navigation {
        width: 300px;
        height: 52px;
    }
    .footer-wrapper {
        width: 320px;
        height: 879px;
    }
    .footer-content {
        position: absolute;
        width: 300px;
        height: 850px;
        left: 10px;
        top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    .footer-contacts {
        align-items: center;
    }
    .footer-txt {
        text-align: center;
        align-content: center;
        display: block;
        color: #FFFFFF;
    }
    /* === hamburger menu === */
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        user-select: none;
        z-index: 100;
        padding: 4px;
    }
    .line {
        width: 80%;
        height: 2px;
        background: rgb(8, 8, 8);
        margin: 3px 0;
        z-index: 15;
        transition: all 0.3s ease-in-out;
    }
    .white-lines {
        background: rgb(250, 249, 249);
    }
    .hamburger.open .line1 {
        transform: rotate(90deg) translate(11px, 12px);
    }
    .hamburger.open .line2 {
        transform: rotate(90deg) translate(3px, 3px);
    }
    .hamburger.open .line3 {
        transform: rotate(90deg) translate(-5px, -6px);
    }
    .menu {
        position: fixed;
        transform: translateX(100%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: rgba(0, 0, 0, 0.9);
        color: white;
        list-style: none;
        padding-top: 4rem;
        width: 320px;
        height: 823px;
    }
    .nav {
        position: absolute;
        width: 243px;
        height: 327px;
        top: 148px;
    }
    .nav-text {
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 160%;
        /* or 51px */
        /* color-dark-s */
        color: #CDCDCD;
    }
    .list {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 243px;
        height: 327px
    }
    .showMenu {
        transform: translateY(0);
    }
    .closeIcon {
        display: none;
    }
}